<a href="https://colab.research.google.com/github/alexsandrors91/Projeto-Walmart/blob/main/walmartFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Projeto Walmart

É solicitado pela empresa walmart a análise das vendas semanais para um possivel investimento nas lojas em que as vendas são mais promissoras.

Primeiro é necessário importar as bibliotecas que serão utilizadas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

Carregando o dataset

In [ ]:
data = pd.read_csv("Walmart.csv")

Verificando dados do walmart

In [ ]:
data

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

Verificando tipos de variavel

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [ ]:
data.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

É necessário alterar alguns formatos de coluna do data set

In [ ]:
data['Date'] = data['Date'].astype('datetime64')
data['Holiday_Flag'] = data['Holiday_Flag'].astype('bool')
data['Weekly_Sales'] = data['Weekly_Sales'].astype('int')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   int64
 3   Holiday_Flag  6435 non-null   bool
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2)
memory usage: 358.3 KB

Verificando preço médio de venda semanal por loja

In [ ]:
group_med_sales = data.groupby("Store").mean().reset_index()
group_med_sales

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,1.555264e+06,0.06993,68.306783,3.219699,215.996892,7.610420
1,2,1.925751e+06,0.06993,68.216364,3.219699,215.646311,7.623846
2,3,4.027040e+05,0.06993,71.434196,3.219699,219.391531,7.176986
3,4,2.094712e+06,0.06993,62.253357,3.216972,128.679669,5.964692
4,5,3.180113e+05,0.06993,69.410140,3.219699,216.565581,6.295406
5,6,1.564728e+06,0.06993,69.700000,3.219699,217.553197,6.606902
6,7,5.706168e+05,0.06993,39.720280,3.241559,193.664243,8.585734
7,8,9.087491e+05,0.06993,62.513986,3.219699,219.439026,6.091846
8,9,5.439801e+05,0.06993,67.775175,3.219699,219.626689,6.099881
9,10,1.899424e+06,0.06993,72.241189,3.575923,128.679669,8.362965
10,11,1.356383e+06,0.06993,72.480769,3.219699,219.391531,7.176986
11,12,1.009001e+06,0.06993,70.262797,3.606420,128.679669,13.116483
12,13,2.003620e+06,0.06993,53.697133,3.286147,128.679669,7.001825
13,14,2.020978e+06,0.06993,57.790979,3.417608,186.285678,8.648748
14,15,6.233120e+05,0.06993,51.833846,3.578294,135.092607,7.996252
15,16,5.192472e+05,0.06993,45.030070,3.241559,193.664243,6.477993
16,17,8.935809e+05,0.06993,46.387203,3.286147,128.679669,6.549406
17,18,1.084718e+06,0.06993,53.371259,3.441741,135.092607,8.838301
18,19,1.444999e+06,0.06993,52.295035,3.578294,135.092607,7.996252
19,20,2.107676e+06,0.06993,55.451399,3.417608,209.038131,7.371413
20,21,7.560686e+05,0.06993,68.847622,3.219699,215.646311,7.623846
21,22,1.028501e+06,0.06993,54.897133,3.441741,139.011284,8.069371
22,23,1.389864e+06,0.06993,48.805105,3.441741,135.092607,4.796014
23,24,1.356755e+06,0.06993,54.030000,3.578294,135.092607,8.447014
24,25,7.067210e+05,0.06993,52.138392,3.417608,209.038131,7.371413
25,26,1.002911e+06,0.06993,43.658252,3.441741,135.092607,7.872070
26,27,1.775216e+06,0.06993,57.311119,3.578294,139.011284,8.001748
27,28,1.323522e+06,0.06993,70.262797,3.606420,128.679669,13.116483
28,29,5.394510e+05,0.06993,54.897133,3.441741,135.092607,9.806385
29,30,4.385791e+05,0.06993,68.847622,3.219699,215.646311,7.623846
30,31,1.395901e+06,0.06993,68.847622,3.219699,215.646311,7.623846
31,32,1.166568e+06,0.06993,52.747552,3.241559,193.664243,8.585734
32,33,2.598612e+05,0.06993,76.728182,3.575923,128.679669,8.533154
33,34,9.667810e+05,0.06993,58.495874,3.216972,128.679669,9.934804
34,35,9.197245e+05,0.06993,57.311119,3.417608,139.011284,8.788573
35,36,3.735115e+05,0.06993,71.160350,3.204203,214.729069,7.869049
36,37,5.188998e+05,0.06993,71.160350,3.219699,214.729069,7.869049
37,38,3.857311e+05,0.06993,70.262797,3.606420,128.679669,13.116483
38,39,1.450668e+06,0.06993,70.597343,3.219699,214.729069,7.869049
39,40,9.641276e+05,0.06993,47.674545,3.441741,135.092607,4.796014
40,41,1.268125e+06,0.06993,48.410350,3.241559,193.664243,6.973378
41,42,5.564034e+05,0.06993,72.241189,3.575923,128.679669,8.362965
42,43,6.333242e+05,0.06993,68.877692,3.219699,207.735162,9.934804
43,44,3.027484e+05,0.06993,53.697133,3.286147,128.679669,6.735622
44,45,7.859809e+05,0.06993,57.790979,3.417608,186.285678,8.648748

Qual o atributo que tem maior correlação (positiva ou negativa) com o número de vendas? (E que faça sentido)

In [ ]:
correlacao = data.corr(method='kendall', min_periods=1000)
display(correlacao['Weekly_Sales'])

Store          -0.209491
Weekly_Sales    1.000000
Holiday_Flag    0.022679
Temperature    -0.046858
Fuel_Price      0.017218
CPI            -0.041716
Unemployment   -0.046688
Name: Weekly_Sales, dtype: float64

A maior correlação é holiday flag

Da loja com maior venda acumulada (soma de vendas de todo o período), quantas semanas do ano ele ultrapassou a média do período:

In [ ]:
order = data.sort_values("Weekly_Sales", ascending = False)
group_order = data.groupby("Store").sum().reset_index()
group_order = data.sort_values("Weekly_Sales", ascending = False)
group_order = group_order.head(5)
group_order

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
1905,14,2010-12-24,3818686,False,30.59,3.141,182.544590,8.724
2763,20,2010-12-24,3766687,False,25.17,3.141,204.637673,7.484
1333,10,2010-12-24,3749057,False,57.06,3.236,126.983581,9.003
527,4,2011-12-23,3676388,False,35.92,3.103,129.984548,5.143
1762,13,2010-12-24,3595903,False,34.90,2.846,126.983581,7.795

Avaliando loja com maiores vendas semanais

In [ ]:
l14 = data[data['Store'] == 14]
med = data.groupby('Weekly_Sales').mean().reset_index()
media = med['Weekly_Sales']
l14['media'] = media
l14 = l14.sort_values('Holiday_Flag', ascending = False);
l14

<ipython-input-23-276489c52e36>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,media
1964,14,2012-10-02,2077256,True,37.00,3.640,189.707605,8.424,628099
1994,14,2012-07-09,1904512,True,75.70,3.911,191.577676,8.684,635171
1953,14,2011-11-25,2685351,True,48.71,3.492,188.350400,8.523,623097
1906,14,2010-12-31,1623716,True,29.67,3.179,182.571448,8.724,613042
1958,14,2011-12-30,1914148,True,37.79,3.389,189.062016,8.523,624114
...,...,...,...,...,...,...,...,...,...
1900,14,2010-11-19,1968462,False,50.02,3.000,182.898939,8.724,611464
1899,14,2010-12-11,2092189,False,46.14,2.931,182.991613,8.724,611390
1898,14,2010-05-11,2078417,False,45.65,2.917,182.946365,8.724,611258
1897,14,2010-10-29,1984768,False,61.30,2.921,182.901117,8.724,610991
2001,14,2012-10-26,1704357,False,58.85,3.882,192.308899,8.667,636677

Faça um gráfico com as vendas máximas, mínimas e médias de todas as lojas ao longo do tempo. Ressalte de alguma forma, o período de feriados mencionados acima.

In [ ]:
media_vendas = data.groupby("Store").mean().reset_index()
max_vendas = data.groupby("Store").sum().reset_index()
min_vendas = max_vendas.sort_values('Weekly_Sales', ascending = True)
max_vendas

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,222402734,10,9767.87,460.417,30887.555523,1088.290
1,2,275382373,10,9754.94,460.417,30837.422420,1090.210
2,3,57586666,10,10215.09,460.417,31372.988971,1026.309
3,4,299543881,10,8902.23,460.027,18401.192733,852.951
4,5,45475617,10,9925.65,460.417,30968.878137,900.243
5,6,223756059,10,9967.10,460.417,31110.107182,944.787
6,7,81598205,10,5680.00,463.543,27693.986741,1227.760
7,8,129951115,10,8939.50,460.417,31379.780750,871.134
8,9,77789152,10,9691.85,460.417,31406.616557,872.283
9,10,271617645,10,10330.49,511.357,18401.192733,1195.904
10,11,193962721,10,10364.75,460.417,31372.988971,1026.309
11,12,144287160,10,10047.58,515.718,18401.192733,1875.657
12,13,286517633,10,7678.69,469.919,18401.192733,1001.261
13,14,288999841,10,8264.11,488.718,26638.851959,1236.771
14,15,89133609,10,7412.24,511.696,19318.242848,1143.464
15,16,74252354,10,6439.30,463.543,27693.986741,926.353
16,17,127782072,10,6633.37,469.919,18401.192733,936.565
17,18,155114667,10,7632.09,492.169,19318.242848,1263.877
18,19,206634794,10,7478.19,511.696,19318.242848,1143.464
19,20,301397719,10,7929.55,488.718,29892.452680,1054.112
20,21,108117810,10,9845.21,460.417,30837.422420,1090.210
21,22,147075580,10,7850.29,492.169,19878.613542,1153.920
22,23,198750546,10,6979.13,492.169,19318.242848,685.830
23,24,194015953,10,7726.29,511.696,19318.242848,1207.923
24,25,101061103,10,7455.79,488.718,29892.452680,1054.112
25,26,143416327,10,6243.13,492.169,19318.242848,1125.706
26,27,253855845,10,8195.49,511.696,19878.613542,1144.250
27,28,189263612,10,10047.58,515.718,18401.192733,1875.657
28,29,77141487,10,7850.29,492.169,19318.242848,1402.313
29,30,62716810,10,9845.21,460.417,30837.422420,1090.210
30,31,199613839,10,9845.21,460.417,30837.422420,1090.210
31,32,166819177,10,7542.90,463.543,27693.986741,1227.760
32,33,37160150,10,10972.13,511.357,18401.192733,1220.241
33,34,138249688,10,8364.91,460.027,18401.192733,1420.677
34,35,131520601,10,8195.49,488.718,19878.613542,1256.766
35,36,53412139,10,10175.93,458.201,30706.256907,1125.274
36,37,74202669,10,10175.93,460.417,30706.256907,1125.274
37,38,55159554,10,10047.58,515.718,18401.192733,1875.657
38,39,207445467,10,10095.42,460.417,30706.256907,1125.274
39,40,137870240,10,6817.46,492.169,19318.242848,685.830
40,41,181341863,10,6922.68,463.543,27693.986741,997.193
41,42,79565685,10,10330.49,511.357,18401.192733,1195.904
42,43,90565366,10,9849.51,460.417,29706.128216,1420.677
43,44,43293023,10,7678.69,469.919,18401.192733,963.194
44,45,112395273,10,8264.11,488.718,26638.851959,1236.771

In [ ]:
px.bar(media_vendas,"Store", "Weekly_Sales", color = "Store", title='Valor médio de vendas por loja')

In [ ]:
px.bar(max_vendas, "Store", "Weekly_Sales", color = "Store", title = "Valor total de vendas")

Verificando feriados

In [ ]:
l14h= l14[l14['Holiday_Flag'] == True]
holydays = ('Superbowl', 'labourday','Thanksgiven','Christmas','Christmas', 'labourday', 'labourday','Superbowl','Thanksgiven','Thanksgiven')
l14h['Holyday'] = holydays
l14h

<ipython-input-50-37ccd273513c>:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,media,Holyday
1964,14,2012-10-02,2077256,True,37.00,3.640,189.707605,8.424,628099,Superbowl
1994,14,2012-07-09,1904512,True,75.70,3.911,191.577676,8.684,635171,labourday
1953,14,2011-11-25,2685351,True,48.71,3.492,188.350400,8.523,623097,Thanksgiven
1906,14,2010-12-31,1623716,True,29.67,3.179,182.571448,8.724,613042,Christmas
1958,14,2011-12-30,1914148,True,37.79,3.389,189.062016,8.523,624114,Christmas
1942,14,2011-09-09,2202742,True,71.48,3.738,186.673738,8.625,619498,labourday
1890,14,2010-10-09,2191767,True,70.87,2.699,182.598178,8.743,609274,labourday
1912,14,2011-11-02,1980405,True,30.30,3.239,183.701613,8.549,613899,Superbowl
1901,14,2010-11-26,2921709,True,46.15,3.039,182.783277,8.724,611585,Thanksgiven
1860,14,2010-12-02,1704218,True,27.73,2.773,181.982317,8.992,603318,Thanksgiven

In [ ]:
l20 = data[data['Store'] == 20]
l20 = l20.sort_values('Weekly_Sales', ascending = False);
l20h = l20[l20['Holiday_Flag'] == True]
holydays = ('Thanksgiven','Thanksgiven','Superbowl ','Superbowl', 'Superbowl', 'labourday','labourday','Chrismas','labourday','Chrismas')
l20h['Holyday'] = holydays  
l20h

<ipython-input-46-c1176e4ad3f0>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Holyday
2811,20,2011-11-25,2906233,True,46.38,3.492,211.412076,7.082,Thanksgiven
2759,20,2010-11-26,2811634,True,46.66,3.039,204.962100,7.484,Thanksgiven
2822,20,2012-10-02,2462978,True,33.47,3.640,213.118614,6.961,Superbowl
2770,20,2011-11-02,2211388,True,25.38,3.239,206.076386,7.343,Superbowl
2718,20,2010-12-02,2109107,True,22.12,2.773,204.385747,8.187,Superbowl
2852,20,2012-07-09,2080529,True,76.36,3.911,215.218957,7.280,labourday
2800,20,2011-09-09,2050542,True,68.74,3.738,209.022556,7.274,labourday
2816,20,2011-12-30,2043245,True,36.35,3.389,212.403576,7.082,Chrismas
2748,20,2010-10-09,2014954,True,65.02,2.699,204.726683,7.527,labourday
2764,20,2010-12-31,1799737,True,28.85,3.179,204.643227,7.484,Chrismas

Super Bowl 12-Feb-10, 11-Feb-11, 10-Feb-12

Labour Day 10-Sep-10, 09-Sep-11, 07-Sep-12

Thanksgiving 26-Nov-10, 25-Nov-11, 23-Nov-12

Christmas 31-Dec-10, 30-Dec-11, 28-Dec-12

In [ ]:
l4 = data[data['Store'] == 4]
l4h= l4[l4['Holiday_Flag'] == True]
holydays = ('Superbowl', 'labourday','Thanksgiven','Superbowl','labourday', 'Thanksgiven', 'Thanksgiven','christmas','Superbowl','labourday')
l4h['Holyday'] = holydays
l4h

<ipython-input-54-eb5575e65472>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Holyday
430,4,2010-12-02,2188307,True,28.84,2.573,126.496258,8.623,Superbowl
460,4,2010-10-09,1865820,True,73.54,2.574,126.114581,7.372,labourday
471,4,2010-11-26,2789469,True,48.08,2.752,126.669267,7.127,Thanksgiven
476,4,2010-12-31,1794868,True,38.09,2.955,127.087677,7.127,Superbowl
482,4,2011-11-02,2187847,True,33.29,3.033,127.859129,6.510,labourday
512,4,2011-09-09,2093139,True,73.34,3.554,129.368613,5.644,Thanksgiven
523,4,2011-11-25,3004702,True,47.96,3.225,129.836400,5.143,Thanksgiven
528,4,2011-12-30,2007105,True,36.89,3.119,130.071032,5.143,christmas
534,4,2012-10-02,2374660,True,33.00,3.411,130.384903,4.607,Superbowl
564,4,2012-07-09,2125104,True,82.09,3.709,130.932548,4.077,labourday

contudo baseado em meu criterio que o maior faturamento no periodo
Recomendo a loja 4,14 e 20